@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
html, body {
  background-image: url(hai_owari_desu.svg);
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
}
a {
 color: #6e6bff;
}
a:visited {
 color: #c18fff;
}
.konbo {
 color: #00CD44;
}
.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.main-contents {
  width: 99%;
  padding: 10px;
  background-color: #0B0B61;
}
.box8 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
}
.box8 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
}
.box8 h2 {
    margin: 0; 
    padding: 0;
}
.box8 h3 {
    margin: 0; 
    padding: 0;
}
.drawer_hidden {
  display: none;
}
/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  left: 100%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #4B0082;
  transition: .5s;
  text-align: left;
  padding-top: 20px;
}

/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  left: 0;/* メニューを画面に入れる */
}
.drawer_hidden2 {
  display: none;
}
/* ハンバーガーアイコンの設置スペース */
.drawer_open2 {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer_open2 span,
.drawer_open2 span:before,
.drawer_open2 span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open2 span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open2 span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input2:checked ~ .drawer_open2 span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input2:checked ~ .drawer_open2 span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input2:checked ~ .drawer_open2 span::after {
  top: 0;
  transform: rotate(-45deg);
}
/* メニューのデザイン*/
.nav_content2 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  right: 100%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #4B0082;
  transition: .5s;
  text-align: left;
  padding-top: 20px;
}

/* メニュー黒ポチを消す */
.nav_list2 {
  list-style: none;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input2:checked ~ .nav_content2 {
  right: 0;
}